<form class="form-signin">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel panel-primary">

            <h3 class="text-center">
              Schedule</h3>

            <div class="panel-body">

              <div class="schedule_header">
                <div><p>TIME</p></div>
                <div><p>ACTIONS</p></div>
              </div>
              <div class="schedule_line flex">
                <div class="time">
                  <p>10:00</p>
                </div>
                <button class="btn btn-primary">Schedule that time</button>
              </div>

              <div class="schedule_line flex">
                <div class="time">
                  <p>10:20</p>
                </div>
                <button class="btn btn-primary">Schedule that time</button>
              </div>

              <div class="schedule_line flex">
                <div class="time">
                  <p>10:40</p>
                </div>
                <button class="btn btn-primary">Schedule that time</button>
              </div>

              <div class="schedule_line flex">
                <div class="time">
                  <p>11:00</p>
                </div>
                <button class="btn btn-primary">Schedule that time</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>


